.footer__container {
    margin: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #f4f5f7;
    padding: 48px 0;
  }
  @media (max-width: 768px) {
    .footer__container {
      display: block;
      margin: 0 16px;
      padding: 32px 0;
    }
    .footer__container p {
      margin-top: 16.21px;
      margin-bottom: 16px;
    }
  }
  